h1 {
Color: rgb(0, 0, 0);
border-width: 1px;
border-color: rgb(62, 60, 60);
border-style: solid;
border-radius: 5px;
font-family: "Courier New", monospace;
direction: unset;
}

body{
    background-color: orange;
}